:root {
  --royal-blue: #5956e9;
  --light-blue: #7572ff;
  --gray: #6c6c72;
  --black: #232233;
  --white: #ffffff;
  --coefficient: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.hero-saction {
  background-image: url(../img/fondo.svg);
  width: 100%;
  height: 1024px;
  padding-top: 35px;
}

.hero {
  width: 100%;
  height: calc(1024px - 149px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cuadro {
  width: 620px;
  height: 535px;
  position: relative;
}

.cuadro__sombra {
  width: 570px;
  height: 535px;
  border: 18px solid #7572ff;
  position: absolute;
  right: 0;
}

.cuadro__container {
  width: 570px;
  height: 432px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 40px 26.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cuadro__container-text {
  height: 210px;
}

.h1 {
  color: #5956e9;
  font-size: 48.83px;
  height: 126px;
  line-height: 63.48px;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6c6c72;
  width: 487px;
}

.h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
}

.img__container-store {
  width: 314px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.cuadro__container-download {
  height: 85px;
}

.img__container-mobile {
  width: 430px;
  max-height: 725px;
  min-height: 423px;
}

.img__container-mobile img {
  height: auto;
  object-fit: contain;
}

.about {
  height: 1014px;
}

.about__container {
  height: 774px;
  width: 1144px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.h2 {
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px;
  text-align: center;
}

.descripcion {
  text-align: center;
  width: 601px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6c6c72;
  height: 70px;
}

.about__container2 {
  display: flex;
  height: 560px;
  justify-content: space-between;
  width: 100%;
}

.about__img {
  position: relative;
  width: 386px;
  height: 548px;
}

.about__img-sombra {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 74px;
  height: 71px;
  width: 212px;
  box-shadow: 0px 1px 10px 0px #0000001a;
  border-radius: 50%;
}

.about__components {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.component1,
.component2,
.component3 {
  height: 160px;
  width: 570px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px #0000001a;
  padding: 30px 20px 21px 18px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.component__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.features {
  background-image: url(../img/fondo.svg);
  width: 100vw;
  height: 1710px;
  background-size: cover;
  color: #ffffff;
  background-position: center;
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & p {
    color: #ffffff;
  }
}

.text h2 {
  margin-bottom: 18px;
}

.feature__components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1274px;
}

.feature__group {
  display: flex;
}

.feature__component {
  height: 171px;
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & h4 {
    text-align: center;
  }
  & p {
    width: 100%;
    height: 43px;
  }
  & img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
  }
}

.feature__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & h3 {
    text-align: right;
  }
  & p {
    width: 100%;
    text-align: right;
  }
  & img {
    left: 100%;
    transform: translateX(-100%);
  }
}

.feature__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & h3 {
    text-align: left;
  }

  & p {
    width: 100%;
    text-align: left;
  }
  & img {
    left: 0;
    transform: none;
  }
}

.feature__img {
  -width: 375px;
  height: 812px;
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 40px 40px 100px 0px #18303f80;
  margin-left: 63px;
  margin-right: 63px;
}

.screenshot{
  width: 1294px;
height: 883px;
margin: 120px auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.slider__container{
  width: 100%;
  height: 622px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  & button {
  background-color: transparent;
  border-radius: 50%;
  }
}

#prev,
#next {
  width: 84px;
  height: 84px;
  border: 1px solid #5956e9;
  background-color: transparent;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#next {
  background-color: #5956e9;
}

.slider{
  display: flex;
  width: 1066px;
height: 100%;
justify-content: space-between;
position: relative;
align-items: center;
}
.slide{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 200ms ease;
  width: 246px;
  height: 532px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.regular{
  height: 100%;
}

.position0{
  transform: translate(-220%, -50%);
  opacity: 0.5;
  z-index: 2;
}
.position1{
  transform: translate(-170%, -50%);
  opacity: 1;
  z-index: 3;
}
.position2{
  width: 319px;
  height: 622px;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 4;
}
.position3{
  transform: translate(70%, -50%);
  opacity: 1;
  z-index: 3;

}
.position4{
  transform: translate(120%, -50%);
  opacity: 0.5;
  z-index: 2;
}

#puntitos {
  width: 154px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  & img{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}

.elElegido {
  border: 1px transparent solid;
  outline: 2px #5956e9 solid;
  border-radius: 50%;
}

.download {
  width: 1166px;
  height: 506px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  & .text {
    width: 570px;
    height: 136px;
  }
  & p {
    text-align: left;
    width: 100%;
  }
}

.download__left {
  width: 570px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img__container {
  width: 325px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.download__stad {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 176px;
}

.stad {
  height: 176px;
  width: 170px;
  background-color: #5956e9;
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  & img {
    width: 35px;
    height: 35px;
  }
}

.download__right {
  position: relative;
}

.sombra {
  box-shadow: 0px 1px 10px 0px #0000001a;
  width: 212px;
  height: 71px;
  border-radius: 50%;
  position: absolute;
  left: 122px;
  z-index: -1;
  bottom: 0;
}

.use {
  width: 100vw;
  height: 682px;
  position: relative;
  padding-top: 42px;
}

.rectangulo {
  width: 100vw;
  height: 477px;
  padding-top: 120px;
  background-image: url(../img/fondo.svg);
  background-size: cover;
  color: #ffffff;
  & .descripcion {
    color: #ffffff;
    margin: auto;
  }
  & h2 {
    margin-bottom: 23px;
  }
  & img {
    object-fit: contain;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.team {
  height: 781px;
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 120px auto;
}
.team__group {
  display: flex;
  width: 100%;
  height: 580px;
  justify-content: space-between;
}

.card {
  width: 370px;
  height: 580px;
  box-shadow: 0px 1px 10px 0px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.card__text {
  width: 100%;
  text-align: center;
  & p {
    width: 326px;
    margin: auto;
  }
}

.card__container-img {
  position: relative;
  width: 220px;
  height: 220px;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card__media {
  display: flex;
  width: 282px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  & hr {
    height: 100%;
  }

  & img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
  }
}

.customers{
  background: url(../img/fondo.svg);
  width: 100vw;
  height: 876px;
  background-size: cover;
  background-position: center;
padding: 120px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
}

.customers .text h2, 
.customers .text p{
  color: #ffffff;
}

.customer__slider{
  width: 1171px;
height: 357px;
position: relative;
}

.customer-card {
  width: 770px;
  height: 357px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 100px 0px #0000003D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 61px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 200ms ease;
  & p {
    width: 647px;
  }
  & img {
    width: 96px;
    height: 96px;
  }
}
.position00 {
  left: 32%;
  height: 330px;
  z-index: 1;
}
.position01 {
  left: 32%;
  height: 330px;
  z-index: 3;
}
.position02 {
  z-index: 4;
}
.position03 {
  left: 68%;
  height: 330px;
  z-index: 3;
}
.position04 {
  height: 330px;
  left: 68%;
  z-index: 1;
}

#puntitos2 {
  width: 154px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  & img{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}

.customers .elElegido {
  border: 1px transparent solid;
  outline: 2px #ffffff solid;
  border-radius: 50%;
}

.blog {
  height: 1069px;
  width: 100%;
  position: relative;
  padding-top: 120px;
}

.blog__cajita {
  width: 1170px;
  height: 701px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & h2 {
    margin-bottom: 23px;
  }
}

.blog__container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog__card {
  width: 370px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px #0000001a;
  overflow: hidden;
  & h3 {
    text-align: left;
  }
  & p {
    text-align: left;
    width: 100%;
  }
  & img {
    width: 100%;
    height: 228px;
  }
  & a {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #5956e9;
  }
}

.blog__card-text {
  padding: 40px 18px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  width: 1170px;
  height: 230px;
  border-radius: 30px;
  box-shadow: 0px 10px 100px 0px #0000003d;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 65px 50px;
  display: flex;
  justify-content: space-around;

  & img {
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #5956e9;
  }
  & .circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.left,
.right {
  width: 351px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 327px;
}

